.content {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0 1rem 0 1rem;
}

.btn  {
    font-size: 2.5rem;
    font-weight: 400;
    background-color: transparent;
    border: 2px dotted black;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 2rem;

}

.btn:hover {
    border-bottom: 2px solid slateblue;
    color: slateblue;
}


.slider__container {
    display: flex;
    margin-left: 3rem;
    margin-top: 1rem;


}

.slider__container p {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
}

.slider {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2rem;
    width: 16px;
    background: rgb(173, 165, 243);
    cursor: pointer;
    margin-top: -0.15rem;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2rem;
    cursor: pointer;
    background-color: #5871ba;
    border: 1px solid #89afef;
}

.slider::-moz-range-thumb{
    -webkit-appearance: none;
    height: 2rem;
    width: 16px;
    background: rgb(173, 165, 243);
    cursor: pointer;
    margin-top: -0.15rem;
    border-radius: 0;
}

.slider::-moz-range-track {
    width: 100%;
    height: 2rem;
    cursor: pointer;
    background-color: #5871ba;
    border: 1px solid #89afef;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

.divisor {
    border-right: 4px solid black;
    margin-right: 1rem;
}

.input-group label {
    font-size: 1.5rem;
    margin-right: 0.5rem;

}

.input-group input {
    font-size: 1.5rem;
}

.input-message {
    margin-left: 2rem;
    font-weight: 400;
    font-size: 2.25rem;
    color: darkred;
}


@media (max-width: 800px) {
    .content{
        font-size: 1.75rem;
    }

    .btn {
        font-size: 1.75rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .slider__container {
        margin-left: 0;
    }

    .slider__container p {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .content {
        font-size: 1.5rem;
    }
    .btn {
        font-size: 1.5rem;
    }
}