.sidebar {
    height: 96vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgb(50, 63, 113);
    position: absolute;
    width: 20%;
    left: -19%;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.51);
    transition: left 0.5s;
    font-size: 0;
    z-index: 500;
}

.sidebar__open {
    left: 0;
    font-size: 10rem;
}

.sidebar nav {
    margin: 2rem 1rem 0 0.5rem;
}

.sidebar ul {
    color: #e2e2e2;
    list-style-type: none;
}

.sidebar ul li:first-child {
    margin-top: 5rem;
}

.sidebar ul li {
    border-bottom: 2px solid transparent;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 3rem;
    width: fit-content;
    cursor: pointer;
    transition: all 0.5s;
    color: #9db3fc;
}

.sidebar ul li.active {
    color: #e1e85d;
}

.sidebar ul li.active:hover {
    color: #e1e85d;
    border-bottom-color: #e1e85d;
}


.sidebar ul li:hover {
    border-bottom-color: #ac7878;
    color: #ac7878;
}

.button {
    cursor: pointer;
    bottom: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.51);
    border-radius: 10px;
    left: 0.5rem;
    position: absolute;
    background-color: rgb(87, 100, 158);
    border: 3px solid transparent;
    width: 4rem;
    height: 7rem;
    z-index: 2000;
    transition: color 0.5s, border-color 0.5s;
    color: rgb(141, 142, 255);

}

.button:hover {
    border: 3px solid rgb(141, 142, 255);
    color: rgb(192, 201, 252);
}

.button-icon {

    padding-top: 0.2rem;
    padding-left: 0.2rem;
    font-size: 5rem;
    text-align: center;
    transition: transform 0.5s;

}

.button-icon__close {
    transform: rotate(180deg) translateY(-0.5rem);


}