.content {
    display: flex;
    flex-direction: column;

    margin: 0 4px 0 4px;
    flex: 0 0 1.75rem;
}

.bar-idle {
    background-color: mediumslateblue;

}

.bar-compare {
    background-color: forestgreen;

}

.bar-swap {
    background-color: orangered;

}


.number {
    padding: 0 2px 0 2px;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid black;
    border-top: none;

}