.content {
    display: flex;
    flex-direction: column;

    margin: 0 4px 0 4px;
    flex: 0 0 1.75rem;
}

.bar__idle {
    background-color: mediumslateblue;


}

.bar__compare {
    background-color: forestgreen;


}

.bar__swap_init, .bar__swap_end {
    background-color: orangered;

}

.bar__final_pos {
    background-color: goldenrod;
}

.bar__qks_set_pivot {
    background-color: darkblue;
}

.bar__qks_limits {
    background-color: darkolivegreen;
}

.bar__mgs_replace {
    background-color: mediumvioletred;
}

.number {
    padding: 0 2px 0 2px;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid black;
    border-top: none;

}