.action-menu {
    margin: 1em 1em 0.75em 1em;
    padding: 1em;
    border: 5px solid #c6c5c5;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.26);
    background-color: #ccc;

}